
* {
  margin: 0 auto;
  padding: 0 auto;
}

.App {
  text-align: center;
  font-family: 'Jost';
}


/* HEADER */

nav {
  background-color: #A6C48A;
}

.homelogo {
  margin-right: 62%;
  font-size: 150%;
  text-shadow: 0vw 0vw 9vw rgb(19, 15, 15);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2% 3%;
}

a {
  text-decoration: none;
  color: rgb(251, 243, 243);
}

.nav_items {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  gap: 20%;
  font-size: 80%;
}


.nav_item_mission {
  padding: 15% 25%;
  color: rgb(248, 113, 113);
  font-weight: 500;
  font-size: 110%;
}


.nav_item_store {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 9% 12%;
  color: rgb(248, 113, 113);
  font-size: 110%;
  font-weight: 500;
}

.nav_item_account {
  padding: 9% 12% !important;;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(248, 113, 113);
  font-size: 110%;
  /* background: rgb(251, 243, 243);
  border-radius: 32%;
  box-shadow: inset 0 0 0.7vw rgb(250, 196, 196); */
}

.cart_icon {
  width: 3vw;
}

/* HEADER CLOSE */

/* HOME */

.homeMain {
  background-image: url('./views/images/Wildlife-2.jpeg');
  background-size: cover;
}

#home_intro_text {
  font-size: 170%;
  font-weight: 400;
  color:  rgb(251, 243, 243);
  padding: 5% 20%;
}

.homelogo {
  font-size: 170%;
  margin-left: 60%;
}

.homeImgs {
  width: 30%;
  height: 40%;
  padding: 0.5% 1%;
  opacity: 70%;
}

.homeCollectionImg {
  background-color: rgb(251, 243, 243);
  padding: 5% 0;
}

.homeImgs:hover {
  opacity: 50%;
  width: 30.2%;
  height: 40.2%;
}

.font2 {
  font-family: Abel;
  padding: 2% 0;
  width: 60%;
}

/* HOME CLOSE */

/* MISSION */

.mission_intro {
  background: rgb(255, 249, 249);
  padding: 3% 20%;
  color: rgb(45, 45, 45);
}

.mission_amazon_charities {
  background: rgb(212, 212, 212);
  padding: 10% 0;
  font-size: 130%;
}

.mission_ocean_charities {
  background: #c4c1c1;
  padding: 10% 0;
  font-size: 130%;
}

.mission_wildlife_charities {
  background: #d7d6d4;
  padding: 10% 0;
  font-size: 130%;
}

/* MISSION CLOSE */

/* STORE */

.store_header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1% 0;
  gap: 73%;
}

.all_products {
  background-color: rgba(251, 235, 238, 0.893);
  padding: 20% 0;
}

/* STORE CLOSE */

/* LOGIN */

.loginAll {
  padding: 4% 0;
}

.loginForm {
  display: flex;
  flex-direction:column;
  border: 1.5px solid pink;
  padding: 1% 0;
  margin-top: 2%;
}

.login_items {
  margin-top: 2%;
  margin-bottom: 2%;
}

.notMember {
  margin-top: 5%;
}



/* LOGIN CLOSE */

/* REGISTER */

.reg_form {
  color: white;
  padding-top: 2%;
  font-weight: 400;
  background-image: url('./views/images/Wildlife.jpeg');
  background-size: cover;
}

.register_inputs {
  padding: 1% 0;
}

.userInfo {
  margin-bottom: 2%;
}

.billingInfo {
  margin-bottom: 3%;
  margin-top: 1%;
}

.reg_submit_button {
  padding: 0.5% 1%;
  font-size: 110%;
  font-family: 'Jost';
  font-weight: 500;
  color: rgb(248, 113, 113);
  border: 1px solid rgb(237, 235, 235);
  background-color: rgb(238, 238, 238);
  border-radius: 10%;
  box-shadow: 0px 0px 9px rgb(153, 153, 153);
}


/* REGISTER CLOSE */


/* FOOTER */

footer {
  background: #A6C48A;
  padding: 2% 0;
  color: white;
}

.rights_reserved_text {
  margin-bottom: 1.2%;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 110%;
}

.fb_logo {
  width: 2%;
  margin: 0 0.5%;
}

.insta_logo {
  width: 2%;
  margin: 0 0.5%;
}

/* FOOTER CLOSE */


.mission_amazon_charities {
  display:flex;
}




