

.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

/* HEADER */

header {
  background-color: rgb(215, 215, 215);
}

#homelogo {
  margin-right: 70%;
}

.navbar {
  color: rgb(71, 70, 70);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1%;
}

.nav_items {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav_item_mission {
  margin-right: 5%;
}

.nav_item_store {
  margin-right: 5%
}

.nav_item_cart {
  margin-right: 5%
}

.nav_item_account {
  margin-right: 5%
}

/* HEADER CLOSE */

/* MAIN */

#home_intro_text {
  font-size: 120%;
  background: grey;
  padding: 3% 20%
}




