
* {
  margin: 0 auto;
  padding: 0 auto;
}

.App {
  text-align: start;
  font-family: 'Jost';
  text-align: center;
}


/* HEADER */

nav {
  background-color: #A6C48A;
}

.navbar {
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  padding: 0.8% 0;
  justify-items: center;
}

.homelogo {
  white-space: nowrap;
  align-self: center;
}


a {
  text-decoration: none;
  color: rgb(251, 243, 243);
}

.nav_item_mission {
  grid-column: 3;
  align-self: center;
}

.button_mission {
  font-size: 100%;
  padding: 3% 25%;
}

.button_store {
  font-size: 110%;
  padding: 3% 25%;
}

.nav_item_store {
  grid-column: 4;
  white-space: nowrap;
  align-self: center;
}

.cart_counter {
color: rgb(251, 243, 243);
grid-column: 5;
align-self: center;
display: flex;
}

#cart_icon {
  width: 3vw;
}

.counter_text {
  font-size: 140%;
  font-weight: 500;
  align-self: center;
  padding-left: 12%;
}


/* HEADER CLOSE */

/* HOME */

.homeMain {
  background-image: url('./views/images/Wildlife-2.jpeg');
  background-size: cover;
}

#home_intro_text {
  font-size: 170%;
  font-weight: 400;
  color:  rgb(251, 243, 243);
  padding: 5% 20%;
}

.homelogo {
  font-size: 170%;
  margin-left: 60%;
}

.homeImgs {
  width: 30%;
  height: 40%;
  padding: 0.5% 1%;
  opacity: 70%;
}

.homeCollectionImg {
  background-color: rgb(251, 243, 243);
  padding: 5% 0;
}

.homeImgs:hover {
  opacity: 50%;
  width: 30.2%;
  height: 40.2%;
}

.font2 {
  font-family: Abel;
  padding: 2% 0;
  width: 60%;
}

/* HOME CLOSE */

/* MISSION */

.mission_title {
  font-family: 'Jost';
  padding: 0.5% 0%;
}

.mission_intro {
  background: rgb(254, 209, 125);
  padding: 3% 20%;
  color: rgb(62, 62, 62);
  padding: 2.5% 20%;
}


.mission_amazon_charities {
  display:flex;
  flex-direction: row;
  justify-content: end;
  font-family: 'Abel';
  padding: 10% 0;
  font-size: 130%;
  height: 37vw;
  padding: 0 0;
}

.mission_wildlife_charities {
  font-size: 130%;
  display: flex;
  justify-content: end;
  height: 38vw;
}

.mission_ocean_charities {
  display: flex;
  justify-content: end;
  height: 38vw;
  font-size: 130%;
}

.amazon_charity_text {
  font-size: 120%;
  padding: 4% 4%;
  margin-right: 2%;
}

.wildlife_charity_text {
  font-size: 120%;
  padding: 4% 4%;
  font-family: 'Abel';
}

.ocean_charity_text {
  font-size: 120%;
  font-family: 'Abel';
  padding: 4% 4%;
}

.amazon_mission_title {
  font-size: 120%;
  font-family: 'Jost';
  padding-bottom: 5%;
  text-decoration: underline;
  color: #A6C48A;
  font-weight: 700;
}

.ocean_mission_title {
  font-family: 'Jost';
  font-size: 120%;
  padding-bottom: 5%;
  color: rgb(19, 112, 119);
  text-decoration:underline;
}

.wildlife_mission_title {
  font-size: 120%;
  font-family: 'Jost';
  padding-bottom: 5%;
  text-decoration: underline;
  color: rgb(66, 127, 46);
}



.amazon_webpage_link {
  padding: 2% 4%;
  font-size: 80%;
  margin-top: 7%;
  font-family: 'Jost';
  background-color: #A6C48A;
}

.wildlife_webpage_link {
  padding: 2% 4%;
  font-size: 80%;
  margin-top: 7%;
  font-family: 'Jost';
  background-color: rgb(66, 127, 46);
  color: rgb(254, 229, 229);
}

.ocean_webpage_link {
  padding: 2% 4%;
  font-size: 80%;
  margin-top: 7%;
  font-family: 'Jost';
  background-color: rgb(19, 112, 119);
  color: rgb(254, 229, 229);
}



/* MISSION CLOSE */

/* STORE */

.store_header {
  padding: 1.5% 0%;
  background-color: rgb(249, 249, 228);
  font-size: 120%;
  font-family: 'Jost';
  font-weight:700;
  color: rgb(74, 73, 73);
}

#collection {
  font-size: 80%;
  border: 1px solid #A6C48A;
  margin: 0% 1.5%;
  color: rgb(74, 73, 73);
  font-family: 'Jost';
}

#category {
  font-size: 80%;
  border: 1px solid #A6C48A;
  margin: 0% 1.5%;
  color: rgb(74, 73, 73);
  font-family: 'Jost';
}

#price {
  font-size: 80%;
  border: 1px solid #A6C48A;
  margin: 0% 1.5%;
  color: rgb(74, 73, 73);
  font-family: 'Jost';
}


.product_wrapper {
  font-family: 'Jost'
}

.productImages {
  height: 40vw;
  width: 30vw;
  box-shadow: 0 0 3px grey;
}

.productInfo {
  border: 1px solid pink;
  border-radius: 5%;
  padding: 3% 2%;
  margin: 2% 30%;
  box-shadow: 0 0 10px rgb(249, 227, 230);
  color: rgb(74, 73, 73);
}

.productNames {
  font-size: 110%;
  font-weight: 400;
  margin-bottom: 2%;
}



/* STORE CLOSE */


/* SINGLE PRODUCT PAGE */

.singleProductImg {
  width: 30vw;
  margin-bottom: 2%;
}

.singleProductTitle {
  padding: 3% 0;
  font-size: 150%;
}

.singleProductInfo {
  border: 1px solid pink;
  border-radius: 2%;
  margin: 3% 20%;
  color: rgb(59, 59, 59);
}

.singleProductDetails {
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1vw;
  width: 30vw;
}

.singleProductDetail {
  border: 1px solid #A6C48A;
  border-radius: 4%;
  padding: 1% 2%;
}

.cartButtons1 {
margin: 2% 1%;
font-family: 'Jost';
font-size: 100%;
border: 2px solid #A6C48A;
border-radius: 5%;
background-color: #A6C48A;
font-weight: 700;
padding: 1% 2%;
}

.cartButtons2 {
  margin: 5% 1%;
  font-family: 'Jost';
  font-size: 100%;
  border: 2px solid #A6C48A;
  border-radius: 5%;
  background-color: #A6C48A;
  font-weight: 700;
  padding: 1% 2%;
}

/* SINGLE PRODUCT PAGE CLOSE */




/* FOOTER */

footer {
  background: #A6C48A;
  padding: 2% 0;
  color: white;
}

.rights_reserved_text {
  margin-bottom: 1.2%;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 110%;
}

.fb_logo {
  width: 2%;
  margin: 0 0.5%;
}

.insta_logo {
  width: 2%;
  margin: 0 0.5%;
}

/* FOOTER CLOSE */





